<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Remote Patient Monitoring</title>

    <style>
      #videoElement {
      	width: 500px;
      	height: 375px;
      	background-color: #666;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Remote Patient Monitoring</h1>
      <div class="row">
        <div class="col">
          <p style="font-size:40px;">Heartrate</p>
          <i id="heartrate-icon" class="fa fa-heartbeat" style="font-size:60px;color:red;opacity:1"></i>
          <p id="heartrate" style="font-size:40px;color:red;">0</p>
          <!-- <video controls>
            <source src="{{ url_for('static', filename='movie.mp4') }}" type="video/mp4">
          </video> -->
          <video autoplay="true" id="videoElement">
        </div>
        <div class="col">
          <p style="font-size:40px;">Exercises</p>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button id="record" class="btn btn-danger" disabled>Start Recording</button>
          <button id="upload" class="btn btn-success" disabled>Upload Data</button>
          <button id="hr-upload" class="btn btn-info">Upload Data</button>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    // $("#record").bind('click', function() {
    //   $.getJSON("{{ url_for('record') }}", function(data) {
    //     //
    //   });
    //   return false;
    // });

    var recordButton, stopButton, recorder, liveStream;
    var heartrate = new Array();
    var video = document.querySelector("#videoElement");
    recordButton = document.getElementById("record");
    stopButton = document.getElementById("upload");

    var hrButton = document.getElementById("hr-upload");
    hrButton.addEventListener('click', uploadHrData);

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({ audio: true, video: true })
        .then(function (stream) {
          liveStream = stream;
          video.srcObject = stream;

          recordButton.disabled = false;
          recordButton.addEventListener('click', startRecording);
          stopButton.addEventListener('click', stopRecording);
        })
        .catch(function (err0r) {
          console.log("Something went wrong!");
        });
    }

    function startRecording() {
      recorder = new MediaRecorder(liveStream);

      recorder.addEventListener('dataavailable', onRecordingReady);

      recordButton.disabled = true;
      stopButton.disabled = false;

      recorder.start();
    }
    function stopRecording() {
      recordButton.disabled = false;
      stopButton.disabled = true;

      // Stopping the recorder will eventually trigger the 'dataavailable' event and we can complete the recording process
      recorder.stop();
    }
    function onRecordingReady(e) {
      // var video = document.getElementById('recording');
      // // e.data contains a blob representing the recording
      // video.src = URL.createObjectURL(e.data);
      // video.play();
      var blob = e.data;
      var link = document.createElement('a');
      link.setAttribute('href', URL.createObjectURL(blob));
      link.setAttribute('download', 'video.mp4');
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }

    function uploadHrData() {
      var array = new Uint32Array(50);
      window.crypto.getRandomValues(array);
      var data = {
        hr: heartrate,
        bin: btoa(array)
      }
      $.ajax({
            type: "POST",
            url: "{{ url_for('upload') }}",
            data: JSON.stringify(data),
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log('Success!');
            },
        });
    }

    function updateHeartRate() {
      var hr = Math.floor((Math.random() * 126) + 10);
      heartrate.push(hr);
      document.getElementById("heartrate").innerHTML = hr;

      $("#heartrate-icon").animate({'opacity':0},200);
      $("#heartrate-icon").animate({'opacity':1},200);

      setTimeout(updateHeartRate, 1000);
    }

    updateHeartRate();
    </script>
  </body>
</html>
